/****** Main Styling ******/
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #ccc;
}
h3 {
	margin-bottom:0;
	line-height:normal;
	font-size:20px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body,html,.container-fluid{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
.container-flex {
	display:flex;
}
.question-title{

	font-family:Bitter;
	font-size:30px;
	line-height:normal;
}
.question-element{
		text-align:center;
	margin-bottom:20px;
}
.sidebar-container {
	position:relative;

	width:0px;
}

.sidebar {

	position:fixed;
	background:#111;
	width:300px;
	height:100%;
}

.content{
width:calc(100% - 150px) ;
margin-left:150px;


}

.menu-item{
	border-bottom:1px solid #222;
	padding:20px;
	color:#ddd;
	background: #111;
}
.menu-brand{
	font-family:bitter;
	border-bottom:1px solid #222;
	padding:25px;
	font-size:1.5em;
	color:#ddd;
}
.menu-item:hover{
	cursor:pointer;
	background-color:#222;
}
.blue {
	color:#406BCC;
}
.modal-header {
	background:#222;
	color:#ddd;
}
.alignleft {
	float:left;
}
.alignright {
	float:right;

}
.modal-middle {
	background: #fafafa;
	padding-top:30px;
	padding-bottom:45px;
	padding-left:15px;
	padding-right:15px;
	border-top:1px solid #e5e5e5;
}

.question-container {

	display:inline-block;
	float:left;
	width:95%;
	padding-top:20px;
	padding-left:30px;
	padding-right:50px;
	padding-bottom:50px;
}
.question-container-live {
	display:block;
	float:left;
	width:80%;
	margin-left:10%;

}
.full-container {

	display:inline-block;
	float:left;
	width:100%;
	padding-top:20px;
	padding-left:30px;
	padding-right:50px;
	padding-bottom:50px;
}


.question-button-container {

	display:inline-block;
	float:left;
	min-height:inherit;
}
.question-odd {
	background:#e5e5e5;
}
.question-even {
	background:#ebebeb;
}
.fa-button {
	cursor:pointer;
}

.fa-button-danger {
	color:#a00;
}
.header-top {
	box-shadow:0 4px 4px rgba(0, 0, 0, 0.3);
	padding:15px;
	font-size:18px;
	color:#fff;
	width:calc(100% - 300px) ;
margin-left:300px;
height:50px;
background:#5C9BCC;
}
.header-right-menu {
font-size:18px;


	float:right;
}
.content-container-flex {
	display:flex;
	flex-flow:column;
	width:100%;
}
.absolute-center {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
	}

.small-tile {
	box-sizing:border-box;
	width:98%;
	height:450px;
	background:#fff;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
	padding:20px;
	margin-bottom:20px;
}

.float-left {
	float:left;
	margin:15px;
}
.margin {
	margin:15px;
}
canvas{

			height: 200px !important;
	}
.jumbotron {
	background:#fff;
}

.textbox-heading {
  color:#436482;
  margin-bottom:0px;
  display:flex;
  align-self:flex-start;
}
.textbox {
	float:left;
	min-height:400px;
	margin-bottom:15px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
  flex-flow:column;
  position:relative;
  box-sizing:border-box;
  align-items:center;
  display:flex;
  background:#f4f4f4;
  width:calc(50% - 7.5px);
  padding: 30px 80px 50px 80px;

}

.three-quarter {
width:calc(75% - 7.5px);
}
div.question-wrapper:nth-child(even) .textbox{
		margin-right:15px;
}
.scroll-btn {
    transition:opacity .5s ease-out;
  cursor:pointer;
  opacity:0.2;
    font-size:2.5em;
    position:absolute;
   top:40%;
}
.left-scroll {


  left:15px;


}
.right-scroll {

  right:15px;

}

.textbox:hover .scroll-btn{
  opacity:0.5;
}
.textbox:hover .counter{
  opacity:0.3;
}
.counter {
  transition:opacity .5s ease-out;
  opacity:0.2;
	width:100%;
  cursor:pointer;
  color:#fff;
  position:absolute;
  bottom:10px;
  left:40px;
}
.counter li {
  text-align:center;
  display:inline-block;
  width:5%;
  background:#000;
  padding:5px;
}
.counter li:first-child {
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.counter li:last-child {
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}
a {
  text-decoration:none;
  color:inherit;
}
.counter li.active{
  background:#3F0D94;
}
.counter li:hover {
  background:#306699;
}
.scroll-btn:hover{
  color:#306699;
}
.full-width {
	width:100%;

}

.survey-header {
margin-bottom:15px;
font-family:lora;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
	flex-flow:column;
	position:relative;
	box-sizing:border-box;
	align-items:center;
	display:flex;
	background:#f4f4f4;
	padding: 30px 80px 50px 80px;

}
