/****** Main Styling ******/
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #ecf0f1;
}
h3 {
	margin-bottom:0;
	line-height:normal;
	font-size:20px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body,html,.container-fluid{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
.container-flex {
	display:flex;
}
.question-title{

	font-family:Bitter;
	font-size:30px;
	line-height:normal;
}
.question-element{
		text-align:center;
	margin-bottom:20px;
}
.sidebar-container {
	position:relative;

	width:0px;
}

.sidebar {

	position:fixed;
	background:#111;
	width:300px;
	height:100%;
}
.content{
	width:calc(100% - 150px) ;
margin-left:150px;


}

.menu-item{
	border-bottom:1px solid #222;
	padding:20px;
	color:#ddd;
	background: #111;
}
.menu-brand{
	font-family:bitter;
	border-bottom:1px solid #222;
	padding:25px;
	font-size:1.5em;
	color:#ddd;
}
.menu-item:hover{
	cursor:pointer;
	background-color:#222;
}
.blue {
	color:#3498db;
}
.modal-header {
	background:#222;
	color:#ddd;
}
.alignleft {
	float:left;
}
.alignright {
	float:right;

}
.modal-middle {
	background: #fafafa;
	padding-top:30px;
	padding-bottom:45px;
	padding-left:15px;
	padding-right:15px;
	border-top:1px solid #e5e5e5;
}

.question-container {

	display:inline-block;
	float:left;
	width:95%;
	padding-top:20px;
	padding-left:30px;
	padding-right:50px;
	padding-bottom:50px;
}
.question-container-live {
	display:block;
	float:left;
	width:80%;
	margin-left:10%;

}
.full-container {

	display:inline-block;
	float:left;
	width:100%;
	padding-top:20px;
	padding-left:30px;
	padding-right:50px;
	padding-bottom:50px;
}


.question-button-container {

	display:inline-block;
	float:left;
	min-height:inherit;
}
.question-odd {
	background:#e5e5e5;
}
.question-even {
	background:#ebebeb;
}
.fa-button {
	cursor:pointer;
}

.fa-button-danger {
	color:#a00;
}
.header-top {
	box-shadow:0 4px 4px rgba(0, 0, 0, 0.3);
	padding:15px;
	font-size:18px;
	color:#ddd;
	width:calc(100% - 300px) ;
margin-left:300px;
height:50px;
background:#2980b9;
}
.header-right-menu {
font-size:18px;


	float:right;
}
.content-container-flex {
	display:flex;
	flex-flow:column;
	width:100%;
}
.absolute-center {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
	}

.small-tile {
	box-sizing:border-box;
	width:98%;
	height:450px;
	background:#fff;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
	padding:20px;
}

.float-left {
	float:left;
	margin:15px;
}

canvas{

			height: 200px !important;
	}
