/****** Main Styling ******/
@import url(https://fonts.googleapis.com/css?family=Bitter);
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
body,html,.container-fluid{
	margin:0px;
	padding:0px;
}
.question-title{

	font-family:Bitter;
	font-size:30px;
	line-height:normal;
}
.question-element{
		text-align:center;
	margin-bottom:20px;
}
