<div class='content'>
<div class='margin'>
<div class='survey-header full-width'>
<h1>{{ name | uppercase}}</h1>
<h3>{{surveyResultsAmount}} responses</h3>
</div>
<div ng-repeat='question in questions' class='question-wrapper'>
	
    <div class='textbox'>
	<div style="clear: both;"></div>
		<top-menu></top-menu>
	<div class='full-width' ng-if='question.type === "open question"'>
	
    <answer-container obj='results[$index]' content='question'></answer-container>
    </div>
    <div class='full-width' ng-if='question.type === "multiple choice"'>
    <bar-graph obj='results[$index]' content='question' filter='filter'></bar-graph>
    </div>
    <div class='full-width' ng-if='question.type === "numerical scale"'>
    <numerical-graph obj='results[$index]' content='question'></numerical-graph>
    </div>
    </div>


</div>
</div>

</div>
