<div class='full-container'>
  <div class='answer-header-tile'>
  <div class='dashboard-content'>
<h2 style='display:block; line-height:10px'>{{ name | uppercase}}</h2>
<span>Created: {{survey.publishedDate}}</span>
<button class='btn-round btn-blue'><i class='fa fa-male fa-lg'></i> </button> 55%
<button class='btn-round btn-purple'><i class='fa fa-female fa-lg'></i> </button> 45%
<button class='btn-round btn-purple'><i class='fa fa-dollar fa-lg'></i> </button> 20424$
<button class='btn-round btn-purple'><i class='fa fa-birthday-cake fa-lg'></i> </button> 24 yrs
    <div class='survey-menu-code'>http://www.placeholder.com/aAbeE</div>

</div>
<div class='dashboard-info' style='line-height:2em;'>
  <span>
  Total Responses: 45
</span><br><br>
<button class='btn btn-block btn-secondary'>Export all data</button>
<button class='btn btn-block btn-secondary'>Change view</button>
</div>
</div>
<div ng-repeat='question in questions' class='question-wrapper' >

    <div class='textbox' ng-class='{"full-width" : scale.active}'>
	<div style="clear: both;"></div>
		<top-menu obj='$index' filter='filterGender' scale='scale' questions='questions'></top-menu>
	<div class='full-width' ng-if='question.type === "open question"'>

    <answer-container obj='results[$index]' content='question'></answer-container>
    </div>
    <div class='full-width' ng-if='question.type === "multiple choice"'>
    <bar-graph obj='results[$index]' content='question'  scale='scale' filter='filter' num='$index'></bar-graph>
    </div>
    <div class='full-width' ng-if='question.type === "numerical scale"'>
    <numerical-graph obj='results[$index]' filter='filter' num='$index' content='question' scale='scale'></numerical-graph>
    </div>
    </div>
</div>
</div>
