
<div class='absolute-center'>
 <h1>Login</h1>
  Email: <input type='email' class="form-horizontal" ng-model='login.email'></input> Password: <input class="form-horizontal" ng-model='login.password' type='password'></input>

 <button class='btn btn-primary' ng-click='authorizeLogin(login)'>Login</button><button class='btn btn-danger' ng-click='logout()'>Logout</button>
<h1>Create Account</h1>
 Email: <input type ='email' class="form-horizontal" ng-model='new.email'></input> Password: <input class="form-horizontal" ng-model='new.password' type='password'></input>
<button class='btn btn-primary' ng-click='createUser(new)'>Create</button>
 </div>
