<div ng-controller="surveyCreationCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Add Question</h3>
  </div>
  <div class="modal-body">

    Question:
    <input class="full-width" ng-model='newQuestion.name'></input>
    </br>
    Question Type:
    <div class='dropdown'>
      <button class='btn-white' style='margin-top:15px'> {{(newQuestion.type) || "Select"}}</button>
      <span></span>
      <!-- dont remove, needed for closing the menu !-->
      <ul>
        <li ng-click="newQuestion.type = 'open question'">open question</li>
        <li ng-click="newQuestion.type = 'multiple choice'">multiple choice</li>
        <li ng-click="newQuestion.type = 'numerical scale'">numerical scale</li>
        <li ng-click="newQuestion.type = 'text paragraph'">text paragraph</li>
      </ul>
    </div>
    </br>
    </br>

    <div ng-if="newQuestion.type==='multiple choice'">
      <p>A multiple choice question will present the user with several different options to choose from. The question can either be set to only receive one answer or multiple answers. You can enter the different answer options below.</p>
      </br>
      <div ng-repeat="element in newQuestion.options">
        Option {{element.number}}:
        <input class='form-control' ng-model='element.value'></input>
      </div>
      </br>
      <button class='btn btn-default' type="button" ng-click="addField()"><i class='fa fa-plus fa-fw'></i> Add Option</button>
      </br>
    </div>

    <div ng-if="newQuestion.type==='open question'">
      <p>An open question will present the user with a textbox of varialbe size in order to answer in their own words. This allows to capture in-depth qualitative data and comments which usually would not be captured by other question types</p>
      </br>

    </div>

    <div ng-if="newQuestion.type==='numerical scale'">
      <p>A numerical scale enables quantifiable opinions and attitude to an asked questions. The scale will offer a positive and a negative end. </p>
      </br>
      <div>
        <div class='col-xs-5'>Negative:
          <input ng-model='newQuestion.rangeOptions.scaleNegative'></input>
        </div>
        <div class='col-xs-5'>Positive:
          <input ng-model='newQuestion.rangeOptions.scalePositive'></input>
        </div>
      </div>
      </br>
    </div>

    <div ng-if='newQuestion.type === "text paragraph"'>
      <p>Sometimes it's helpful to give survey participant an introduction or some context to the questions. Enter any text below:</p>
      <textarea class='full-width' ng-model='newQuestion.text'></textarea>
    </div>

  </div>
  <div class='modal-middle' ng-if='newQuestion.type ==="open question"'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <textarea class='full-width' rows='6' disabled></textarea>
  </div>

  <div ng-if="newQuestion.type === 'numerical scale'"  class='modal-middle'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <div>
      <div class='text-align-right'><span ng-bind='newQuestion.rangeOptions.scaleNegative'></span></div>
      <div>
        <input type='range' step='1' min='0' max='newQuestion.rangeOptions.max'>
      </div>
      <div><span ng-bind='newQuestion.rangeOptions.scalePositive'></span></div>
    </div>
  </div>

  <div ng-if="newQuestion.type ==='multiple choice'" class='modal-middle'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <div ng-repeat='element in newQuestion.options'>

      <input type="radio" name='optRadio'>&nbsp;<span ng-bind='element.value === "" ? "Option "+element.number : element.value'></span></input>
      </br>
      </br>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" type="button" ng-click="ok(newQuestion)">Add</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
  </div>




</div>
