<div ng-controller="surveyCreationCtrl">
  <div class="modal-header">
    <h3 class="modal-title">Add Question</h3>
  </div>
  <div class="modal-body">

    Question:
    <input class="full-width" ng-model='newQuestion.name'></input>
    </br>
    <span class='input-label-vertical'>Question Type:</span>
    <div class='dropdown'>
      <button class='btn-white' style='margin-top:15px'> {{(newQuestion.type) || "Select"}}</button>
      <span></span>
      <!-- dont remove, needed for closing the menu !-->
      <div class='dropdown-container'>
        <a ng-click="newQuestion.type = 'open question'">open question</a>
        <a ng-click="newQuestion.type = 'multiple choice'">multiple choice</a>
        <a ng-click="newQuestion.type = 'numerical scale'">numerical scale</a>
        <a ng-click="newQuestion.type = 'text paragraph'">text paragraph</a>
      </div>
    </div>
    </br>
    </br>

    <div ng-if="newQuestion.type==='multiple choice'">
      <p>A multiple choice question will present the user with several different options to choose from. The question can either be set to only receive one answer or multiple answers. You can enter the different answer options below.</p>
      </br>
      <div ng-repeat="element in newQuestion.options">
        <span class='input-label-vertical'>Option {{element.number}}:</span>
        <input ng-model='element.value' class='three-quarter' n></input>
      </div>
      </br>
      <button class='btn btn-default' type="button" ng-click="addField()"><i class='fa fa-plus fa-fw'></i> Add Option</button>
      </br>
    </div>

    <div ng-if="newQuestion.type==='open question'">
      <p>An open question will present the user with a textbox of varialbe size in order to answer in their own words. This allows to capture in-depth qualitative data and comments which usually would not be captured by other question types</p>
      </br>

    </div>

    <div ng-if="newQuestion.type==='numerical scale'">
      <p>A numerical scale enables quantifiable opinions and attitude to an asked questions. The scale will offer a positive and a negative end. </p>
      </br>
      <div>
        <div style='display:table'>
          <div style='display:table-row'>
        <span class='input-label-vertical' style='display:table-cell'>Negative:</span>
          <input style='display:table-cell' ng-model='newQuestion.rangeOptions.scaleNegative'></input>
    </div>
          <div style='display:table-row'>
        <span class='input-label-vertical' style='display:table-cell'>Positive:</span>
          <input style='display:table-cell' ng-model='newQuestion.rangeOptions.scalePositive'></input>
    </div>
      </div>
      </div>
      </br>
    </div>

    <div ng-if='newQuestion.type === "text paragraph"'>
      <p>Sometimes it's helpful to give survey participant an introduction or some context to the questions. Enter any text below:</p>
      <textarea class='full-width' ng-model='newQuestion.text'></textarea>
    </div>

  </div>
  <div class='modal-middle' ng-if='newQuestion.type ==="open question"'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <textarea class='full-width' rows='6' disabled></textarea>
  </div>

  <div ng-if="newQuestion.type === 'numerical scale'"  class='modal-middle'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <div>
			<div class='scale-container'>
  <span ng-bind='newQuestion.rangeOptions.scaleNegative'></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='1' ng-model='answers[question.name]' id='r1'></input>
        <label class='scale' for="r1"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='2' ng-model='answers[question.name]' id='r2'></input>
          <label class='scale' for="r2"></label></span>
        <span><input class='scale'type='radio' name='{{question.name}}' value='3' ng-model='answers[question.name]' id='r3'></input>
          <label class='scale' for="r3"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='4' ng-model='answers[question.name]' id='r4'></input>
          <label class='scale' for="r4"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='5' ng-model='answers[question.name]' id='r5'></input>
          <label class='scale' for="r5"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='6' ng-model='answers[question.name]' id='r6'></input>
          <label class='scale' for="r6"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='7' ng-model='answers[question.name]' id='r7'></input>
          <label class='scale' for="r7"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='8' ng-model='answers[question.name]' id='r8'></input>
          <label class='scale' for="r8"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='9' ng-model='answers[question.name]' id='r9'></input>
          <label class='scale' for="r9"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='10' ng-model='answers[question.name]' id='r10'></input>
          <label class='scale' for="r10"></label></span>
      </input><span ng-bind='newQuestion.rangeOptions.scalePositive'></span></div>
		</div>
    </div>


  <div ng-if="newQuestion.type ==='multiple choice'" class='modal-middle'>
    <h4 ng-bind='newQuestion.name || "Your Question"'></h4>
    </br>
    <div class='multiplechoice-container'>
    <div ng-repeat='element in newQuestion.options' class='multiplechoice-item'>

<input class='square' type='radio' name='{{element.name}}' value='{{element.value}}' id='{{element.value}}'></input>
			<label class='square' for='{{element.value}}'></label><span class='multiplechoice-tag' ng-bind='element.value || "option"'></span></span></span>


    </div>

  </div>
  </div>

  <div class="modal-footer">
    <button class="btn" type="button" ng-click="ok(newQuestion)">Add</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
  </div>




</div>
