
<body ng-app="votingapp" ng-controller='formCtrl'  ng-init='updateQuestions()'>
  <div class='content'>
    <h1>New Survey</h1>
    <div>
      <form novalidate class="questions">
        Project* <input type='text' class='form-control' ng-model='form.question' required />
        Survey Name* <input type='text' class='form-control' ng-model='form.username' required />
          <div id='moreFormQuestions'></div><br/>
        <button class='btn btn-success' type='button' ng-click='addField()'><i class="fa fa-plus fa-fw"></i> Add Question</button>
        <button class='btn btn-danger' type='button' ng-click='removeField()'><i class="fa fa-minus fa-fw"></i> Remove field</button>
        </div>

      </form>
        <button class="btn" ng-click="open()">Open Modal</button>
        <div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
  </div>
    </div>
  </div>

</body>
