
<body ng-app="votingapp" ng-controller='formCtrl'>
  <div class='content'>

    <div>
      <form novalidate class="questions">
        <div class='question-container'>
        Project* <input type='text' class='form-control' ng-model='survey.project' required />
        Survey Name* <input type='text' class='form-control' ng-model='survey.name' required />
      </div>
          <div ng-show='newFormQuestions' ng-repeat='question in newFormQuestions' >
            <div class='question-container' ng-class-odd='"question-odd"' ng-class-even='"question-even"'>
            <h4 ng-bind='question.name'></h4>
            <textarea class='form-control' rows='6' ng-show='question.type==="open question"' readonly></textarea>
            <div ng-show='question.type==="multiple choice"' ng-repeat='option in question.options'>
            <input type='radio' name='optRadio' readonly><span ng-bind='option.value'></span></input><br>
          </div>
          <div ng-show='question.type==="numerical scale"'>
            <div class="row">
            <div class='col-xs-3'><span ng-bind='question.rangeOptions.scaleNegative'></span></div>
            <div class='col-xs-6'><input type='range' min='0' max='question.rangeOptions.scaleMax'></input></div>
            <div class='col-xs-3'><span ng-bind='question.rangeOptions.scalePositive'></span></div>
            </div>
          </div>
        </div>
        <div class='question-button-container' ng-click='removeQuestion(question)'>
          <span class='fa-stack fa-fw fa-button'>
            <i class='fa fa-square fa-stack-2x fa-fw danger '></i>
              <i class='fa fa-times fa-inverse fa-stack-1x fa-fw fa-lg'></i>
          </span><br>
          <span class='fa-stack fa-fw fa-button'>
            <i class='fa fa-square fa-stack-2x fa-fw'></i>
              <i class='fa fa-pencil fa-inverse fa-stack-1x fa-fw'></i>
          </span><br>
          <span class='fa-stack fa-fw fa-button'>
            <i class='fa fa-square fa-stack-2x fa-fw'></i>
              <i class='fa fa-arrows fa-inverse fa-stack-1x fa-fw'></i>
          </span><br>
        </div>
      </div><br/><div class='full-container'>
        <button class='btn btn-success' type='button' ng-click='open("lg")'><i class="fa fa-plus fa-fw"></i> Add Question</button>
        <button class='btn btn-primary' type='button' ng-click='sendForm()'><i class='fa fa-paper-plane'></i> Send out</button>
        <button class='btn btn-default' type='button' ng-click='saveDraft()'>Save Draft</button>
      </div></div>

      </form>

    </div>


</body>
