  <div class='login-box' id='registration-box'>
<h1>PlaceHolder </h1>
<span ng-bind='errorMessage'></span>
<form name='registrationForm'>
<span class='grey'>Name</span><br>
<input type='text' class="full-width" ng-model='registration.name' ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"></input><br><br>
  <span class='grey'>Email</span><br>
  <input type='email' class="full-width" ng-model='registration.email' ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"></input><br><br>
  <span class='grey'>Password</span><br>
  <input class="full-width" ng-model='registration.password' type='password'></input><br><br>
 <button class='btn btn-ok alignright' ng-click='createNewUser(registrationForm)'>Sign up</button></span><br><br><br><br>
 </form>
 <div style='text-align:center; line-height:32px'>
     <a href='#' ng-click='updateView("login-box")'>Sign in with existing account</a><br>
  <a ng-click='FBlogin()'>Sign in with Facebook</a><br>
    <a ng-click='githubLogin()'>Sign in with GitHub</a>
  </div>
</div>
