<html ng-app='votingapp' ng-controller='liveCtrl'>

   <head>
      <title>Voting App</title>
      <script src="/js/angular.js"></script>
      <script src="/js/angular-animate.js"></script>
			<script src='/js/ui-bootstrap.js'></script>
      <script src="/js/app.js"></script>
      <script src='/js/angular-route.js'></script>
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/public/css/main.css" rel="stylesheet" type="text/css">
         <base href="/">
   </head>


	<body>

		<div class='question-container-live'>
		<h1 ng-bind='activeSurvey.name'></h1>
		<div ng-repeat='question in activeSurvey.questions' >

			<h4 ng-bind='question.name'></h4>
			<textarea class='form-control' rows='6' ng-if='question.type==="open question"' ng-model='answers[question.name]'></textarea>
			<div ng-if='question.type==="multiple choice"' ng-repeat='option in question.options'>
			<input type='radio' name='{{question.name}}' ng-model='answers[question.name]' value='{{option.value}}'><span ng-bind='option.value'></span></input><br>
		</div>
		<div ng-if='question.type==="numerical scale"'>
			<div class="row">

			<div class='col-xs-12'>
        	<span ng-bind='question.rangeOptions.scaleNegative'></span>
        <input type='radio' name='{{question.name}}' value='1' ng-model='answers[question.name]' id='r1'></input>
        <label for="r1"><span>1</span></label>
        <input type='radio' name='{{question.name}}' value='2' ng-model='answers[question.name]' id='r2'></input>
          <label for="r2"><span>2</span></label>
        <input type='radio' name='{{question.name}}' value='3' ng-model='answers[question.name]' id='r3'></input>
          <label for="r3"><span>3</span></label>
        <input type='radio' name='{{question.name}}' value='4' ng-model='answers[question.name]' id='r4'></input>
          <label for="r4"><span>4</span></label>
        <input type='radio' name='{{question.name}}' value='5' ng-model='answers[question.name]' id='r5'></input>
          <label for="r5"><span>5</span></label>
        <input type='radio' name='{{question.name}}' value='6' ng-model='answers[question.name]' id='r6'></input>
          <label for="r6"><span>6</span></label>
        <input type='radio' name='{{question.name}}' value='7' ng-model='answers[question.name]' id='r7'></input>
          <label for="r7"><span>7</span></label>
        <input type='radio' name='{{question.name}}' value='8' ng-model='answers[question.name]' id='r8'></input>
          <label for="r8"><span>8</span></label>
        <input type='radio' name='{{question.name}}' value='9' ng-model='answers[question.name]' id='r9'></input>
          <label for="r9"><span>9</span></label>
        <input type='radio' name='{{question.name}}' value='10' ng-model='answers[question.name]' id='r10'></input>
          <label for="r10"><span>10</span></label>
      </input><span ng-bind='question.rangeOptions.scalePositive'></span></div>
			</div>
		</div>
		<div ng-if='question.type==="demographic information"'>
			<span ng-show='question.fullName'>Full Name:<input class='form-horizontal'></input></span>
			<span ng-show='question.age'>Age:<input class='form-horizontal' type='number'></input></span>
			<span ng-show='question.income'>Income:<input class='form-horizontal' type='number' ng-model='answers.income'></input></span>

			<span ng-show='question.gender'>Gender:<input class='form-horizontal' type='text' ng-model='answers.gender'></input></span>

		</div>
		<div ng-if='question.type==="text paragraph"'>
			<p><span ng-bind='question.text'></span></p>
		</div>

	</div>

<button class='btn btn-primary' ng-click='submitSurvey(activeSurvey)'>Submit</button>
</div>

	</body>

</html>
