<html ng-app='votingapp' ng-controller='liveCtrl'>

   <head>
      <title>Voting App</title>
      <script src="/js/angular.js"></script>
      <script src="/js/angular-animate.js"></script>
			<script src='/js/ui-bootstrap.js'></script>
      <script src="/js/app.js"></script>
      <script src='/js/angular-route.js'></script>
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/public/css/main.css" rel="stylesheet" type="text/css">
         <base href="/">
   </head>


	<body>

		<div class='question-container-live'>

		<h1 class='center-heading' ng-bind='activeSurvey.name'></h1>
		<span ng-if='activeSurvey.filters.gender'>
		  Gender: <div class='dropdown'> 
  <button>Please Select</button>
  <span></span> <!--don't remove, needed for closing the menu-->
  <ul>
  <li>Male</li>
   <li>Female</li>
  </ul>
</div>
</span>
  
    <span ng-if='activeSurvey.filters.income'>
           Annual Income: <input type='number' style='height:40px;border-radius:5px; border:1px solid #ccc' ng-model='answers.income'></input>
          </span>
          <span ng-if='activeSurvey.filters.age'>
                  Age: <input type='number' style='height:40px;border-radius:5px; border:1px solid #ccc' ng-model='answers.age'></input>
                </span>
		<div ng-repeat='question in activeSurvey.questions' class='live-question'>
			<h4 class='live-subheading' ng-bind='question.name'></h4>
			<textarea class='form-control' rows='6' ng-if='question.type==="open question"' ng-model='answers[question.name]'></textarea>
			<div ng-if='question.type==="multiple choice"'>
	    <span class='live-selection' ng-repeat='option in question.options'><input class='square' type='radio' name='{{question.name}}' ng-model='answers[question.name]' value='{{option.value}}' id='{{option.value}}'></input>
			<label class='square' for='{{option.value}}'></label>{{option.value}}</span>

</div>
		<div ng-if='question.type==="numerical scale"'>

			<div class='scale-container'>
        	<span ng-bind='question.rangeOptions.scaleNegative'></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='1' ng-model='answers[question.name]' id='r1'></input>
        <label class='scale' for="r1"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='2' ng-model='answers[question.name]' id='r2'></input>
          <label class='scale' for="r2"></label></span>
        <span><input class='scale'type='radio' name='{{question.name}}' value='3' ng-model='answers[question.name]' id='r3'></input>
          <label class='scale' for="r3"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='4' ng-model='answers[question.name]' id='r4'></input>
          <label class='scale' for="r4"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='5' ng-model='answers[question.name]' id='r5'></input>
          <label class='scale' for="r5"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='6' ng-model='answers[question.name]' id='r6'></input>
          <label class='scale' for="r6"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='7' ng-model='answers[question.name]' id='r7'></input>
          <label class='scale' for="r7"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='8' ng-model='answers[question.name]' id='r8'></input>
          <label class='scale' for="r8"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='9' ng-model='answers[question.name]' id='r9'></input>
          <label class='scale' for="r9"></label></span>
        <span><input class='scale' type='radio' name='{{question.name}}' value='10' ng-model='answers[question.name]' id='r10'></input>
          <label class='scale' for="r10"></label></span>
      </input><span ng-bind='question.rangeOptions.scalePositive'></span></div>
		</div>
		<div ng-if='question.type==="demographic information"'>
			<span ng-show='question.fullName'>Full Name:<input class='form-horizontal'></input></span>
			<span ng-show='question.age'>Age:<input class='form-horizontal' type='number'></input></span>
			<span ng-show='question.income'>Income:<input class='form-horizontal' type='number' ng-model='answers.income'></input></span>

			<span ng-show='question.gender'>Gender:<input class='form-horizontal' type='text' ng-model='answers.gender'></input></span>

		</div>
		<div ng-if='question.type==="text paragraph"'>
			<p><span ng-bind='question.text'></span></p>
		</div>

	</div>

<button class='btn btn-primary' ng-click='submitSurvey(activeSurvey)'>Submit</button>
</div>

	</body>

</html>
