<div class='textbox'>
	<div class='textbox-top-menu'><button class=' btn btn-default alignleft'>Overall Absolute Numbers.</button>
			<button class='btn btn-default alignright'>Add Filter</button>

	</div>
<div style="clear: both;"></div>
	<div class='textbox-content'>
	<h2><span ng-bind='content.name'></h2>
	<i class='fa fa-arrow-circle-left scroll-btn left-scroll' ng-click='decrease()'></i>

	<div class='textbox-container'>
			<h3 class='textbox-heading'>Participant {{counter+1}}</h3>
<p><span ng-bind='obj[counter]'  class='textbox-slider'></span></p>
	<page-numbers content='obj' limit='10' counter='counter'></page-numbers>
<i class='fa fa-arrow-circle-right scroll-btn right-scroll' ng-click='increase()'></i>
</div>
</div>
<div class='textbox-info'>
</div>
</div>
