	<div class='full-width'>
				        <div ng-if='gender' class='textbox-overlay-content'>
        <div><h3>Filter results for:</h3>
        <span class='blue clickable' ng-click='testMale()'><h3>Men</h3></span><br>
        <span class='purple clickable' ng-click='testFemale()'><h3>Women<h3></span></div></div>
      <div ng-if='gender' class='textbox-overlay'>
      <i class='clickable fa fa-times fa-lg alignright' ng-click='dismiss()'></i>
      </div>
	<div class='textbox-top-menu'>
		<span ng-repeat='name in activeFilters' class='btn btn-default alignleft' >{{name}}</span>
			 <div class="btn-group alignright" uib-dropdown is-open="status.isopen">
			<button id="filter-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled"><i class='fa fa-filter'></i> Add Filter <span class="caret"></span></button>
				<ul class="uib-dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="filter-button">
					<li role='menuitem' ng-click='overlay()'><a>Gender</a></li>
					<li role='menuitem'><a>Income</a></li>
					<li role='menuitem'><a>Age</a></li>
				</ul>
			</div>
<div style='clear:both;'></div>
	</div>
	</div>
