	<div class='full-width'>
				        <div ng-if='overlayContent === "gender"' class='textbox-overlay-content'>
        <div><h3>Filter results for:</h3>
        <span class='blue clickable' ng-click='applyFilter("male")'><h3>Men</h3></span><br>
        <span class='purple clickable' ng-click='applyFilter("female")'><h3>Women<h3></span></div></div>
      <div ng-if='gender' class='textbox-overlay'>
      <i class='clickable fa fa-times fa-lg alignright' ng-click='dismiss()'></i>
      </div>
<div ng-if='overlayContent === "income" || overlayContent === "age"' class='textbox-overlay-content'><h3>Filter results for Income:</h3>
<span class='blue'><h3>Above: </h3><input type='number' ng-model='input.min'></input></span><br>
<span class='purple'><h3>Below:</h3><input type='number' ng-model='input.max'></input></span>
<button class='btn btn-default' ng-click='applyFilter(overlayContent)'>Ok</button>
</div>
<div ng-if='overlayActive' class='textbox-overlay'>
<i class='clickable fa fa-times fa-lg alignright' ng-click='dismiss()'></i>
</div>
	<div class='textbox-top-menu'>
		<div class='dropdown'>
  <button class='btn-white' ng-if='questiontype !== "open question"'>Add filter</button>
  <span></span> <!-- dont remove, needed for closing the menu !-->
  <ul>
<li ng-click='overlay("gender")'>Gender</li>
				<li ng-click='overlay("income")'>Income</li>
				<li ng-click='overlay("age")'>Age</li>
  </ul>

</div>
		</div>

<div style='clear:both;'></div>
	</div>
